{
 "template" : "iis*",
 "settings" : {
  "number_of_shards" : 1
},
"mappings" : {
 "iis" : {
  "properties" : {
    "log_timestamp" : { "type" : "date" },
    "path" : { "type" : "string", "index" : "not_analyzed" },
    "port" : { "type" : "string" },
    "timetaken" : { "type" : "integer" }
}
}
}
}
